# This workflow will build and publish a Docker Image to GitHub Container Registry
# And also build executables and upload it to the release
# See https://github.com/docker/build-push-action

name: Publish

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: rafhaanshah/net-mon

jobs:
  push_to_registry:
    name: Push Docker Image to GitHub Container Registry
    runs-on: ubuntu-latest
    
    steps:
    # checkout is NOT needed for docker/build-push-action
      
    - name: Set version variables
      id: vars
      run: |
        TAG=${GITHUB_REF#refs/*/}
        MAJOR=$(echo $TAG | grep -oP '^v\d+')
        MINOR=$(echo $TAG | grep -oP '^v\d+\.\d+')
        PATCH=$TAG
        echo "major=$MAJOR" >> $GITHUB_OUTPUT
        echo "minor=$MINOR" >> $GITHUB_OUTPUT
        echo "patch=$PATCH" >> $GITHUB_OUTPUT

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
   
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64,linux/arm/v7
        push: true
        cache-from: type=gha
        cache-to: type=gha,mode=max
        tags: |
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.major }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.minor }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.patch }}
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

    - name: Print image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

  upload_executable:
    name: Build and upload executable to release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            path: ~/.cache/pip
          - os: ubuntu-24.04-arm
            path: ~/.cache/pip
          - os: macos-latest
            path: ~/Library/Caches/pip

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ${{ matrix.path }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build executable
        run: pyinstaller netmon.spec

      - name: Set artifact variables
        id: artifact_vars
        run: |
          echo "os_lower=$(echo ${{ runner.os }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          echo "arch_lower=$(echo ${{ runner.arch }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Upload artifacts
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: dist/netmon
          asset_name: netmon-${{ steps.artifact_vars.outputs.os_lower }}-${{ steps.artifact_vars.outputs.arch_lower }}
